node_modules
.env
coverage
coverage.json
typechain
contracts/Busd.sol
contracts/GowToken.sol
contracts/interfaces/IgowToken.sol
contracts/SecondPrivate
contracts/FirstPrivate.sol
contracts/Airdrop.sol

#Hardhat files
cache
artifacts
